<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE(AI-ML)</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Zen+Old+Mincho&display=swap"
      rel="stylesheet"
    />
    <script src="app.js"></script>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="logo2.png" alt="logo" class="logo" />
        <nav>
          <ul id="menulist">
            <li><a href="" target="blank">Home</a></li>
            <li><a href="" target="blank">Links</a></li>
            <li><a href="" target="blank">Notification</a></li>
            <li><a href="" target="blank">SignIn</a></li>
          </ul>
        </nav>
        <img src="menu.png" alt="" class="menu" onclick="togglemenu()" />
      </div>

      <div class="row">
        <div class="col1">
          <h2>Artificial Intelligence and Machine Learning</h2>
          <h3>Heritage Institute of Technology</h3>
          <p>
            Heritage Institute of Technology, popularly known as HITK or HIT, is
            a private autonomous engineering college in Anandapur, Kolkata, near
            the East Kolkata Township, West Bengal, India. It is affiliated to
            Maulana Abul Kalam Azad University of Technology, Kolkata.
          </p>
          <p class="btn">
              <button type="button"><a href="https://www.heritageit.edu/" target="blank">Click Here To Vistit College Website</a></button>
          </p>
        </div>


        <div class="col2">
            <img src="body.png" alt="" class="robot">
        </div>
    </div>


    <div class="social">
        <a href="https://www.facebook.com/Heritageit" target="blank"><img src="fb.png" alt=""></a>
        <a href="" target="blank"><img src="ig.png" alt=""></a>
        <a href="" target="blank"><img src="tw.png" alt=""></a>
    </div>


    </div>
    








    
  </body>
</html>
