<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="link_design.css" />
    <title>Class Links</title>
  </head>
  <body>
    <div class="navbar">
      <img src="logo2.png" alt="logo" class="logo" />
      <nav>
        <ul id="menulist">
          <li><a href="" target="blank">Home</a></li>
          <li><a href="" target="blank">Links</a></li>
          <li><a href="" target="blank" class="sign">Sign In</a></li>
          <li><a href="" target="blank" class="sign">Sign Up</a></li>
        </ul>
      </nav>
      <img src="menu.png" alt="" class="menu" onclick="togglemenu()" />
    </div>
    <div class="classname">
      <img src="prog logo.png" alt="" class="classlogo" />
      <h3><span>Programming</span></h3>
    </div>
    <div class="container">
      <div class="links">
        <ul>
          <li>
            <p><a href="https://meet.google.com/xny-ovrv-rwx" target="blank">Theory Class </a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/pmp-vodg-rnm" target="blank">Computer Lab [ Group 1]</a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/iio-satc-cnk " target="blank">Computer Lab [ Group 2 ]</a></p>
          </li>

          
        </ul>
      </div>
    </div>
    <div class="classname">
      <img src="mathlogo.png" alt="" class="classlogo" />
      <h3><span>Mathematics</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          <li>
            <p><a href="http://meet.google.com/pru-rdiz-ruc?authuser=0&hs=179" target="blank">MATH1101 Module-1 [SC]</a></p>
          </li>

          <li>
            <p><a href="https://us04web.zoom.us/j/72567477960?pwd=bmllS3JqQ3czYnZreWpFMkZVTzdidz09" target="blank">MATH1101 Module-2 [SB]</a></p>
          </li>

          <li>
            <p><a href="" target="blank">MATH1101 Module-3 [SD]</a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/qhq-petf-jcw" target="blank">MATH1101 Module-4 [JB]</a></p>
          </li>

          
        </ul>
      </div>
    </div>

    <div class="classname">
      <img src="ecelogo.png" alt="" class="classlogo" />
      <h3><span>Basic Electronics</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          <li>
            <p><a href="" target="blank">Theory Class</a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/vdd-msbv-vge" target="blank">Lab [ Group 1 ]</a></p>
          </li>

          <li>
            <p><a href="" target="blank">Lab [ Group 2 ]</a></p>
          </li>

         
        </ul>
      </div>
    </div>

    <div class="classname">
      <img src="mech2.png" alt="" class="classlogo" />
      <h3><span>MECH1051</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          
          <li>
            <p><a href="https://meet.google.com/kqu-qwuh-bbv" target="blank">Lab/Theory [ Group 1 ]</a></p>
          </li>

          <li>
            <p><a href="" target="blank">Lab/Theory [ Group 2 ]</a></p>
          </li>

        </ul>
      </div>
    </div>

    <div class="classname">
      <img src="phy2.png" alt="" class="classlogo" />
      <h3><span>Physics</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          

          <li>
            <p><a href="https://meet.google.com/jey-oaac-nwa" target="blank">Theory [ AD ]</a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/cdt-vqhb-xwj" target="blank">Theory [ HG ]</a></p>
          </li>

          <li>
            <p><a href="https://meet.google.com/nus-mizk-sju" target="blank">Lab [ Group 1 ]</a></p>
          </li>

          <li>
            <p><a href="" target="blank">Lab [ Group 2 ]</a></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="classname">
      <img src="life2.png" alt="" class="classlogo" />
      <h3><span>Life Skills</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          

          <li>
            <p><a href="meet.google.com/qtp-bakn-hyb" target="blank">Life Skills<sup>Click Here</sup></a></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="classname">
      <img src="soft2.png" alt="" class="classlogo" />
      <h3><span>Soft Skills</span></h3>
    </div>

    <div class="container">
      <div class="links">
        <ul>
          
          <li>
            <p><a href="http://meet.google.com/yyp-ipbg-foq" target="blank">Soft Skills [ Clayton M Moses ]</a></p>
          </li>
        </ul>
      </div>
    </div>


  </body>
</html>
